@page "/"


<PageTitle>Index</PageTitle>


<h1> Bem vinda de volta Fabrine :) </h1>

Welcome to your new app.
<div style="display: flex; align-content: center;justify-content: center;background-color:aliceblue; border-radius:10px">
<h3 style="color:cadetblue; padding: 16px"> Teste </h3>

</div>

<SurveyPrompt Title="How is Blazor working for you?" />

